@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Truculenta:opsz,wght@12..72,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Truculenta:opsz,wght@12..72,100..900&display=swap");
header {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  background-color: rgba(0, 255, 200, 0.733);
}
header #bienvenida {
  font-size: 40px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
  font-family: Parkinsans;
}
header #contactoheader {
  display: flex;
  gap: 20px;
  align-items: center;
}
header #contactoheader a {
  font-size: 25px;
  text-decoration: none;
  color: black;
  font-family: Parkinsans;
}
header #contactoheader a i {
  margin: 5px;
}
header #login {
  margin: 7px 15px 0 0;
  align-items: center;
}
header #login i {
  font-size: 50px;
}

footer {
  padding-top: 7vh;
  background-color: rgba(0, 189, 214, 0.212);
}
footer p {
  text-align: center;
  font-size: 20px;
  font-family: Roboto;
}

#turnos-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 189, 214, 0.212);
  font-family: Parkinsans;
}
#turnos-main #titulo-solicitar {
  font-size: 65px;
  font-family: Bebas Neue;
}
#turnos-main .formulario-datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
#turnos-main .formulario-datos #nombre-apellido {
  gap: 15px;
}
#turnos-main .formulario-datos #nombre-apellido div {
  display: flex;
}
#turnos-main .formulario-datos #dni-celular {
  gap: 15px;
}
#turnos-main .formulario-datos #dni-celular div {
  display: flex;
}
#turnos-main .formulario-datos #mail-input {
  display: flex;
}
#turnos-main .formulario-datos #mail-input input {
  width: 20vw;
}
#turnos-main .formulario-datos #obrasocial {
  display: flex;
  text-align: center;
  gap: 2px;
}
#turnos-main .formulario-datos #obrasocial #botonobrasocial {
  color: white;
}
#turnos-main #diaturno {
  text-align: center;
  font-size: 15px;
  width: 20vw;
  height: auto;
}
#turnos-main #diaturno #calendario #fecha {
  text-align: center;
}
#turnos-main #horario {
  text-align: center;
}
#turnos-main #horario #confirmarturno {
  margin: 10px;
  width: 15vw;
  height: 7vh;
  background-color: rgba(0, 255, 200, 0.733);
  color: black;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.2s ease;
}
#turnos-main #horario #confirmarturno:hover {
  background-color: rgba(0, 255, 0, 0.596);
}
#turnos-main #volver-inicio {
  width: 7vw;
  height: auto;
  font-size: 20px;
  transition: 0.2s ease;
}
#turnos-main #volver-inicio:hover {
  background-color: rgba(255, 2, 2, 0.822);
}

#mostrarturno-main {
  background-color: rgba(0, 189, 214, 0.212);
}
#mostrarturno-main #div-mostrarturnos {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#mostrarturno-main #div-mostrarturnos label {
  margin: 0;
  font-size: 70px;
  color: black;
  font-family: Bebas Neue;
}
#mostrarturno-main #div-mostrarturnos #buscadorturno {
  display: flex;
  align-items: center;
  justify-content: center;
}
#mostrarturno-main #div-mostrarturnos #buscadorturno #buscarDNI {
  text-align: center;
  width: 10vw;
  height: 5vh;
  font-family: Parkinsans;
}
#mostrarturno-main #div-mostrarturnos #buscadorturno #botonfiltradodni {
  width: 5vw;
  height: 5vh;
  font-family: Parkinsans;
  transition: 0.3s ease;
  border-radius: 5px;
}
#mostrarturno-main #div-mostrarturnos #buscadorturno #botonfiltradodni:hover {
  background-color: rgba(0, 255, 200, 0.733);
}
#mostrarturno-main #div-mostrarturnos #listaTurnos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#mostrarturno-main #div-mostrarturnos #listaTurnos .card-turno {
  background-image: url(../assets/fondo\ card.jpg);
}
#mostrarturno-main #volveratras {
  text-align: center;
  font-size: 25px;
  font-family: Roboto;
  width: 5vw;
  height: auto;
  border-radius: 5px;
  background-color: rgba(0, 255, 200, 0.733);
  transition: 0.3s ease;
}
#mostrarturno-main #volveratras a {
  text-decoration: none;
  color: black;
}
#mostrarturno-main #volveratras:hover {
  background-color: rgba(255, 0, 0, 0.61);
}
#mostrarturno-main .card-turno {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 10px;
}
#mostrarturno-main .card-turno .boton-cancelar {
  width: 12vw;
  height: auto;
  transition: 0.3s ease;
  border-radius: 5px;
}
#mostrarturno-main .card-turno .boton-cancelar:hover {
  scale: 1.03;
  background-color: rgba(255, 0, 0, 0.801);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../assets/fondo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  flex: 1;
  padding-top: 5vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(0, 189, 214, 0.212);
}
main #titulo-index {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  font-family: Bebas Neue;
}
main #solicitarTurno {
  width: 15vw;
  height: 5vh;
  transition: 0.1s ease;
  border-radius: 5px;
}
main #solicitarTurno a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-family: Bebas Neue;
}
main #solicitarTurno:hover {
  transform: scale(1.02);
  background-color: rgba(0, 255, 200, 0.733);
}
main #misturnos {
  width: 15vw;
  height: 5vh;
  transition: 0.1s ease;
  border-radius: 5px;
  font-family: Bebas Neue;
}
main #misturnos a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
main #misturnos:hover {
  transform: scale 1.02;
  background-color: rgba(0, 255, 200, 0.733);
}

.flatpickr-calendar .flatpickr-day:not(.flatpickr-disabled) {
  background-color: #dff7df;
  color: #0b6623;
  border-radius: 6px;
}
.flatpickr-calendar .flatpickr-day:not(.flatpickr-disabled):hover {
  background-color: #c7f0c8;
}
.flatpickr-calendar .flatpickr-day.flatpickr-disabled {
  background-color: #f0f0f0;
  color: #555;
  opacity: 1;
  cursor: not-allowed;
}

* {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
