@use "variables" as v;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../assets/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    flex: 1; 
    padding-top: 5vh;
}