@use "variables" as v;

footer{
    padding-top: 7vh;
    background-color: v.$colorFondo;
    p{
        text-align: center;
        font-size: 20px;
        font-family: v.$fuenteSecundaria;
        
    }

}