@use "variables" as v;

#mostrarturno-main{
    background-color: v.$colorFondo;
    
    #div-mostrarturnos{
        text-align: center;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        label{
            margin: 0;
            font-size: 70px;
            color: black;
            font-family: v.$fuentePrincipal;
            }

        #buscadorturno{
            display: flex;
            align-items: center;
            justify-content: center;


            #buscarDNI{
                text-align: center;
                width: 10vw;
                height: 5vh;
                font-family: v.$fuenteOpcional;
            }

            #botonfiltradodni{
                width: 5vw;
                height: 5vh;
                font-family: v.$fuenteOpcional;
                transition: 0.3s ease;
                border-radius: 5px;
            }
            #botonfiltradodni:hover{
                background-color: v.$colorFondoHeader;
            }
        }

        #listaTurnos{
            display: flex;
            flex-direction: column;
            gap: 10px;

            .card-turno{
                background-image: url(../assets/fondo\ card.jpg);
            }
        }

    }

    #volveratras{
        text-align: center;
        font-size: 25px;
        font-family: v.$fuenteSecundaria;
        width: 5vw;
        height: auto;
        border-radius: 5px;
        background-color: v.$colorFondoHeader;
        transition: 0.3s ease;
        a{
            text-decoration: none;
            color: black;
        }
        

    }

    #volveratras:hover{
        background-color: rgba(255, 0, 0, 0.61);
    }

    .card-turno{
        background-color: rgb(255, 255, 255);
        color: black; 
        padding: 10px;

        .boton-cancelar{
            width: 12vw;
            height: auto;
            transition: 0.3s ease;
            border-radius: 5px;
        }
        .boton-cancelar:hover{
            scale: 1.03;
            background-color: rgba(255, 0, 0, 0.801);
        }
    }

}