@use "variables" as v;

#turnos-main{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: v.$colorFondo;
    font-family: v.$fuenteOpcional;
    #titulo-solicitar{
        font-size:65px;
        font-family: v.$fuentePrincipal;
    }
    
    .formulario-datos{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        #nombre-apellido{
            gap: 15px;

            div{
                display: flex;
            }
        }

        #dni-celular{
            gap: 15px;
            div{
                display: flex;
                
            }
        }

        #mail-input{
            display: flex;
            input{
                width: 20vw;
            }
            
            
        }

        #obrasocial{
            display: flex;
            text-align: center;
            gap: 2px;
            
            #botonobrasocial{
                color: white;
            }
        }

    }

    #diaturno{
        text-align: center;
        font-size: 15px;
        width: 20vw;
        height: auto;
        
        #calendario{
            #fecha{
                text-align: center;
            }
        }

    }

    #horario{
        text-align: center;
        
        #confirmarturno{
            margin: 10px;
            width: 15vw;
            height: 7vh;
            background-color: v.$colorFondoHeader;
            color: black;
            font-size: 20px;
            border-radius: 10px;
            transition: 0.2s ease;
            
            
        }

        #confirmarturno:hover{
            background-color: rgba(0, 255, 0, 0.596);
        }
    }

    #volver-inicio{
        width: 7vw;
        height: auto;
        font-size: 20px;
        transition: 0.2s ease;
    }

    #volver-inicio:hover{
        background-color: rgba(255, 2, 2, 0.822);
    }
    
}